.header tr{
    text-align: center;
    background: coral;
    font-family: sans-serif;
}

.nameAndGroup{
    color: peachpuff;
    font-size: 60px;
}

.var{
    color: ivory;
    font-size: 30px;
}

body{
    background: antiquewhite;
}

table{
    text-align: center;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.input{
    vertical-align: center;
}


.righted{
    text-align: right;
    vertical-align: top;
}

.button{
    background: azure ;
}

.outputTable{
    border-right: black 2px solid;
    border-left: black 2px solid;
    border-collapse: collapse;
}

.true{
    background: aquamarine;
}

.false{
    background: lightcoral;
}

.highlightable:hover td{
    background: aqua;
}

.tableHead td{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.err{

}